
<footer>
    <a href="itis3135/index.html">Course Page</a>
          <a href="https://github.com/dsamanta12344" target="_blank" rel="noopener noreferrer">Github</a>
          <a href="https://dsamanta12344.github.io" target="_blank" rel="noopener noreferrer"> GitHub.io</a>
    <a href="https://webpages.charlotte.edu/dsamanta/" target="_blank" rel="noopener noreferrer"> UNCC </a>
    <a href="https://www.linkedin.com/in/deb-samanta-a7157037b/" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
    <a href="https://webpages.charlotte.edu/dsamanta/itis3135/DapperSloth/index.html" target="_blank" rel="noopener noreferrer">Dapper Sloth</a>
   
        <p>Designed by Samanta Corp ©2025. All rights reserved.</p>
    </footer>   