<header>
    <h1>Deb Samanta ITIS 3135</h1>
    <nav>
        <a href="index.html" class="button-link">Home</a>
        <a href="contract.html" class="button-link">Course Contract</a>
        <a href="introduction.html" class="button-link">Introduction</a>
        <a href ="SamantaCorp.com/index.html" class="button-link">Samanta Corp</a>
        <a href="WebsiteEvaluation.html">Website Evaluation</a>
        <a href="stuff/index.html" class="button-link">CRAPPY PAGE</a>
        <a href="fccfsjs_outline.html" class="button-link">FCC FSJS Outline</a>
        <a href="hobby/index.html" class="button-link">Hobby Project</a>
        <a href="intro.html" class="button-link">Introduction Form</a>
    </nav>
</header>
